@import 'setup';

body {
	box-sizing: border-box;
}

.wrapper {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 1%;
}

nav {
    display: block;
    padding: 5px 0;
    position: fixed;
  	margin-top: 0;
    top: 0;
    width: 100%;
    background: lightgrey;
}

.main-menu {
	display: flex;
	justify-content: space-around;
	padding: 10px 1%;
}

.sub-menu input:hover + label {
	background: yellow;
}

.main-menu li:hover .sub-menu {
	display: block;
}

label {
	background: lightgrey;
	display: block;
	padding: 4%;
}

ul {
	list-style-type: none;
}

.sub-menu {
	padding-left: 0;
	display: none;
	position: absolute;
}

.submenu label:checked {
	background: grey;
}

.search-bar {
	flex: 2;
}

.search-bar input {
	width: 90%;
	border: none;
	padding: 2px;
}

.course-type, 
.cuisine-type, 
.dietary-restrictions {
	flex: 1;
}

.sub-menu li {
    border: 1px solid black;
}

input[type=radio], input[type=checkbox] {
	display: none;
}

input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
    background: brown;
}

.recipe-list {
	margin-top: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

// goes in div class 



.recipe-container{
	flex: 0 1 calc(33% - 20px);
	text-decoration: none;
}

.recipe-container a {
	text-decoration: none;
}

.img-container {
	width: 100%;
	& img { width: 100%;}
}

.results-count-container {
	flex-basis: 100%;
}