@import 'setup';

body {
	box-sizing: border-box;
}

.wrapper {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 1%;
}

.main-welcome-page {
	width: 100%;
	height: 100%;
}

#myVideo {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translate(-50%, -50%);
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    top: 50%;
    left: 50%;
    background: white;
    width: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
	height: 50px;
	border-radius: 20px;
	box-shadow: 5px 5px 5px 3px rgb(25, 25, 25)
}

.main-welcome-page .overlay {
    position: fixed;
    top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
}


nav {
	display: none;
    padding: 5px 0;
    position: fixed;
  	margin-top: 0;
    top: 0;
    width: 100%;
	background: lightgrey;
	z-index: 10;
}

.main-menu {
	// display: flex;
	// justify-content: space-around;

	padding: 10px 1%;
}

.main-menu-options {
	display: inline-block;
	border: 1px solid black;
	margin-right: 1%;
	padding: 5px;
}

.sub-menu input:hover + label {
	background: yellow;
}

.main-menu li:hover .sub-menu {
	display: block;
}

// .main-menu .cuisine-type:hover .sub-menu {
// 	display: flex;
// 	width: 500px;
//     flex-wrap: wrap;
//     justify-content: space-around;
// }

label {
	background: lightgrey;
	display: block;
	padding: 4%;
}

ul {
	list-style-type: none;
}

.sub-menu {
	padding-left: 0;
	display: none;
	position: absolute;
}

.submenu label:checked {
	background: grey;
}

.search-bar {
	flex: 2;
}

.search-bar input {
	width: 80%;
	border: none;
	padding: 2px;
}

.course-type, 
.cuisine-type, 
.dietary-restrictions {
	flex: 1;
}

.sub-menu li {
    border: 1px solid black;
}

input[type=radio], input[type=checkbox] {
	display: none;
}

input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
    background: brown;
}

.recipe-list {
	margin-top: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

a {
	flex: 0 1 calc(33% - 20px);
	text-decoration: none;
	border: 1px solid black;
	margin-bottom: 30px;
	position: relative;
	&:hover .recipe-overlay {
        display: flex;
    }
}

.recipe-container h2,
.recipe-container h3 {
	color: black;
	text-decoration: none;
	&:active {color: black;}
	&:visited {color: black;}
	margin: 0;
	padding: 10px;
}

.img-container {
	width: 100%;
	& img { width: 100%;}
}

.results-count-container {
	flex-basis: 100%;
}

.page-results-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.show-button {
	border-radius: 5px;
	padding: 7px;
	border: none;
	color: #333333;
	background-color: #DDDDDD;
	box-shadow: 2px 2px 2px 2px #999999;
}

.recipe-overlay {
	position: absolute;
    display: none;
    flex-direction: column;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(197, 102, 25, 0.95);
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
    text-align: center;
    & h3 {
        font-size: 1.8rem;
		width: 80%;
		display: inline-block;
        width: 100%;
        position: relative;
        margin-bottom: 50px;
	}
}
