@import 'setup';

body {
	box-sizing: border-box;
}

.wrapper {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 1%;
}


.main-welcome-page {
	height: 100vh;
}

.video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    top: 50%;
    left: 50%;
    background: white;
    width: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    height: 50px;
}

.main-welcome-page .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    /*opacity: 0.5;*/
}

nav {
	// display: block;
	display: none;
    padding: 5px 0;
    position: fixed;
  	margin-top: 0;
    top: 0;
    width: 100%;
    background: lightgrey;
}

.main-menu {
	display: flex;
	justify-content: space-around;
	padding: 10px 1%;
}

.sub-menu input:hover + label {
	background: yellow;
}

.main-menu li:hover .sub-menu {
	display: block;
}
.main-menu .cuisine-type:hover .sub-menu {
	display: flex;
	width: 500px;
    flex-wrap: wrap;
    justify-content: space-around;
}

label {
	background: lightgrey;
	display: block;
	padding: 4%;
}

ul {
	list-style-type: none;
}

.sub-menu {
	padding-left: 0;
	display: none;
	position: absolute;
}

.submenu label:checked {
	background: grey;
}

.search-bar {
	flex: 2;
}

.search-bar input {
	width: 90%;
	border: none;
	padding: 2px;
}

.course-type, 
.cuisine-type, 
.dietary-restrictions {
	flex: 1;
}

.sub-menu li {
    border: 1px solid black;
}

input[type=radio], input[type=checkbox] {
	display: none;
}

input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
    background: brown;
}

// .cuisine-type .sub-menu {
// 	width: 500px;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-around;
// }

.recipe-list {
	margin-top: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

// goes in div class 



a {
	flex: 0 1 calc(33% - 20px);
	text-decoration: none;
	border: 1px solid black;
	margin-bottom: 30px;
}

.recipe-container h2,
.recipe-container h3 {
	color: black;
	text-decoration: none;
	&:active {color: black;}
	&:visited {color: black;}
	margin: 0;
	padding: 10px;
}

.img-container {
	width: 100%;
	& img { width: 100%;}
}

.results-count-container {
	flex-basis: 100%;
}